#speech{
    color: black;
    font-size: 15px;
    font-family: sans-serif;}
    
    #name{
        color: red;
    }
    
    #stage-direction{
        background-color:light green;
        color: black;
        font-size: 18px;
        font-family: sans-serif;
    }
    
    #stage-direction:hover{
        background-color: rgb(8, 110, 5);
        color:greenyellow;
    }

    .firstcitizen{
        color:rgb(60, 0, 128);
    }
    .secondcitizen{
        color: rgb(122, 253, 0);
    }
    .thirdcitizen{
        color: rgb(255, 0, 0);
    }

    table{border: 1px solid black;
        padding: 20px;
        margin: 30px;
    }
table.collapsing{
    border-collapse: collapse;
}

td,th{border: solid 2px;
text-align: left;
}

tr:nth-child(even){
    background-color:yellowgreen;
}

.firstcitizen:hover{
    text-shadow: 2px 3px 4px violet;
}
.secondcitizen:hover{
    text-shadow: 2px 3px 4px violet;
}
.thirdcitizen:hover{
    text-shadow: 2px 3px 4px violet;
}
ul{
    list-style-type:none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}
li a {
    display: block;
    padding: 8px;
    background-color: violet;
}
  ul.navbar-vertical a:hover{
      background-color: yellow;
  }